global
  daemon
  maxconn {{ env "HAPROXY_MAXCONN" }}

defaults
  mode {{ env "HAPROXY_MODE" }}
  balance {{ env "HAPROXY_BALANCE" }}
  timeout connect {{ env "HAPROXY_CONNECT_TIMEOUT" }}
  timeout server {{ env "HAPROXY_SERVER_TIMEOUT" }}
  timeout client {{ env "HAPROXY_CLIENT_TIMEOUT" }}
  timeout check {{ env "HAPROXY_CHECK_TIMEOUT" }}
  {{ range ((env "HAPROXY_OPTIONS") | split "," )}}
  {{ . }}
  {{ end }}

{{ range services }}
{{ if (.Name | regexMatch (env "CONSUL_SERVICE_NAME_REGEX")) }}

listen {{ .Name }}

{{ if service .Name }}
{{ with index ( service .Name ) 0 }}
  {{ with $parts := .ID | split ":" }}{{ if ge (len $parts) 2 }}bind *:{{ index $parts 2 }}{{ end }}{{ end }}
{{ end }}
{{ end }}

{{ range service .Name }}
  server {{ .Node }}-{{ .Port }} {{ .Address }}:{{ .Port }} check inter {{ env "HAPROXY_CHECK_INTER" }} rise {{ env "HAPROXY_CHECK_RISE" }} fall  {{ env "HAPROXY_CHECK_FALL" }}
{{ end }}

{{ end }}
{{ end }}